
*{
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: "Source Han Sans CN";
  overflow: hidden;
  background-color:#F6F9F8 ;
}


#homePageBody{
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* 工具栏 */

#modelingHeader{
  width: 100%;
  height: 40px;
  background: #fff;
  margin-bottom: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px 0 16px;
}

.m-h-img{
  font-weight: 400;
  font-size: 14px;
  color: #707070;
}

.m-h-img div {
  margin-left:16px ;
}

.m-h-h-box{
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background: #f1f1f1;
  margin-right: 8px;
}

.icon-handel{
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.m-h-a-btn{
  width: 64px;
  height: 24px;
  border-radius: 4px;
  background: #00559d;
  font-weight: 400;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
}

/* 模型 */
.modelingBody{

}

#modeling{
  height: calc(100% - 48px);
  display: flex;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
  position: absolute;
  left: 0;
  bottom: 0;
}

.modelingContent{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
}

.m-c-btn{
  width: 16px;
  height: 85px;
  background:  #fff;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
  opacity: 0.7;
  position: absolute;
  left: 100%;
  top: calc(50% - 85px);
  line-height: 85px;
  text-align: center;
}


/* 工具 */
#modelingTools{
  width: 304px;
  height: calc(100% - 48px);
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
}


.modelingToolsContent{
  width: 100%;
  height: 100%;
}

.none{
  display: none;
}

/* 工具栏 */
#toolBar{
  position: absolute;
  right: 312px;
  top: 48px;
  height: 24px;
  display: flex;
}

.toolBarBtn{
  width: 25px;
  height: 25px;
  border-radius: 4px;
  background: #fff;
  margin-right: 8px;
  text-align: center;
  line-height: 25px;
  color: #707070;
  cursor: pointer;
}

.toolBarIcon{
  font-size: 12px !important;
}

.t-b-title{
  font-weight: 500;
  font-size: 12px;
  color: #707070;
}

.t-b-name{
  font-weight: 300;
  font-size: 12px;
  color: #707070;
}

.toolBarColor{
  background-color: #00559d;
  color: #f1f1f1;
}


