#modelingList{
   position: relative;
   width: 140px;
   height: 100%;
   font-size: 12px;
   background: #FCFCFC;
   border-radius: 0 4px 0 0;
}

.modelingListContent{
  overflow:hidden overlay;
  width: 100%;
  height: calc(100% - 80px);
  position: relative;
  z-index: 1;
  padding: 0 8px;
}

.modelingBox{
  width: 100%;
  height: 25px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  margin-bottom: 5px;
  line-height: 25px;
  padding-left:10px ;
  background-color: #ffffff;
}

.m-title{
  width: 100%;
  height: 40px;
  border-radius: 0 4px 0 0;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 14px;
  color: #707070;
  line-height: 40px;
  margin-bottom: 8px;
  padding-left: 8px;
}

.m-content{
  width: 100%;
}

.m-c-title{
  width: 100%;
  height: 32px;
  border-radius: 4px;
  line-height: 32px;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 8px;
  cursor: pointer;
  padding: 0 8px;
}

.m-c-title:hover{
  background: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.04);
}

.m-c-content{
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  flex-wrap: wrap;
}

.m-c-box{
   width: 56px;
   height: 64px;
   border-radius: 4px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-right: 8px;
   cursor: pointer;
   background-color: #fff;
   margin-bottom: 8px;
   position: relative;
   color: #707070;
}

.m-c-box:nth-child(2n){
 margin-right: 0;
}

.m-c-hint{
   position: absolute;
   /* width: 100%; */
   /* height: 35px; */
   border-radius: 4px;
   background: #fff;
   box-shadow: 0 3px 6px rgb(0 0 0 / 10%);
   padding: 8px;
   top: 50px;
   left: 20px;
   display: none;
   z-index: 1000;
}

.m-c-h-title{
  font-weight: 700;
  font-size: 14px;
  color: #707070;
}

.m-c-h-content{
  font-weight: 300;
  font-size: 12px;
  color: #707070;
}

.m-c-box:hover .m-c-hint{
  display: block;
}

.m-c-box:hover{
  box-shadow: 2px 2px 2px 2px rgba(0, 85, 157, 0.04);
}

.m-c-box-check{
  background: rgba(0, 85, 157, 0.04);
  color: #00559D;
}

.icon{
   width: 22px;
   height: 22px;
}

.icon-s{
  width: 19px;
  height: 19px;
}

.icon-b{
  width: 26px;
  height: 23px;
}

.m-c-modelOperation{
  position: absolute;
  left: 232px;
  top: 0;
  width: 200px;
  border-radius: 4px;
  background: #fcfcfc;
  display: none;
  padding: 10px 8px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 8%);
}

.m-c-m-title{
  font-weight: 600;
  font-size: 12px;
  text-align: left;
  color: #00559d;
}

.tooltip{
  border: 0 !important;
  box-shadow: 0 3px 6px rgb(0 0 0 / 10%) !important;
  border-radius: 4px;
}

.tooltip-content{
  font-weight: 700;
  font-size: 14px;
  color: #707070;
  word-wrap: normal;
}

.tooltipcontent-o{
  font-weight: 700;
  font-size: 14px;
  color: #707070;
  margin-bottom: 8px;
}

.tooltipcontent-t{
  font-weight: 300;
  font-size: 12px;
  color: #707070;
  margin-bottom: 8px;
}

.ico-tooltip{
  border: 0 !important;
  box-shadow: 0 3px 6px rgb(0 0 0 / 10%) !important;
  border-radius: 4px;
}

.ico-tooltip-content{
  font-weight: 600;
  font-size: 12px;
  color: #707070;
  word-wrap: normal;
}

.shousuColor{
  color: #e4e4e4;
}

.icon-xia-xiaoxiao{
  color: #e4e4e4 !important;
}

#searchInputBox{
  width: 100%;
  height: 32px;
  padding: 0 8px;
  margin-bottom: 8px;
  position: relative;
}

#searchInput{
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  /* box-shadow: 0 3px 6px #0000000a; */
  box-sizing: border-box;
  padding: 0 8px;
  color: #707070;
}

.tooltipOption{
  height: 32px !important;
  padding: 4px 0 8px 0 !important;
  border-radius: 4px !important;
  background: #fff !important;
  box-shadow: 0 3px 6px #0000000a !important;
  font-weight: 400;
  font-size: 12px;
  color: #b9b9b9;
}

.ui-state-active{
  background-color: #00559d0a !important;
  border: none !important;
  color: #00559d !important;
}

